*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.navbar{
    width: 1540px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo{
    width:40px;
    height: 40px;
    background-color: grey;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 10rem;
  }

  .active{
    font-weight: bold;
  }

  .nav-right{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .input{
    width: 9rem;
    padding: 0.3rem 0.2rem;
    border: 1px solid black;
    border-radius: 1rem;
  }

  .selector{
    padding: 1rem;
    margin-right: 1rem;
  }

  .lang{
    padding: 0.3rem;
    border: none;
  }

  .login{
    padding: 0.7rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.5rem;
  }

  .signup{
    padding: 0.7rem;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
  }

  .container{
    display: flex;
    height: calc(100vh - 70px);
  }

  .image{
    /* height: 100%;
    object-fit: cover;
    overflow: hidden; */
    flex: 1;
    background: url('SIGN.png') no-repeat center center;
    background-size: cover;
  }

  .right-side {
    flex: 1;
    background-color: #fff;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right-side h2{
    font-size: 28px;
    margin-bottom: 0.5rem;
  }

  .right-side p{
    font-size: 14px;
    margin-bottom: 1.5rem;
  }

  label{
    font-size: 14px;
    margin-bottom: 0.3rem;
    display: block;
    color: #222;
  }

  #email1,#pass{
    width: 70%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .pwd{
    font-size: 12px;
    color: gray;
    margin-bottom: 1.2rem;
  }

  .chg{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .chg label{
    font-size: 13px;
  }

  .chg a{
    color: black;
    text-decoration: underline;
  }

  .captcha-box{
    display: flex;
    justify-content: space-between;
    width: 45%;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 0.5rem;
    padding-bottom: 0.1rem;
    font-size: 14px;
    margin-bottom: 1rem;
  }

  .captcha-box p{
    align-content: center;
    padding: 0.3rem;
    padding-top: 1rem;
  }

  .btn{
    width: 30%;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .footer a{
    color: black;
    text-decoration: underline;
  }



  